node_modules/
.DS_Store
dist/
.env
.env.local
.next/
apps/web/.next/
apps/api/dist/
apps/web/node_modules/
apps/api/node_modules/
/storage/
**/tsconfig.tsbuildinfo

# Ignore generated JS files in libs src
libs/*/src/**/*.js
